@import "tailwindcss";

.logo:hover {
    filter: drop-shadow(0 0 1em var(--acid));
}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #0f0f0f;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    background-color: #2f2f2f;
    --acid: #f08080;
}

.logo {
    transition: 0.75s;
}

input,
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: white;
    color: black;
    transition: border-color 0.25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

select {
    height: 3rem;
    margin: auto 0;
}

#port_input {
    width: 6rem;
}

button {
    cursor: pointer;
}

button:hover {
    border-color: var(--acid);
}
button:active {
    border-color: navajowhite;
    background-color: #e8e8e8;
}

input:focus,
select:focus {
    border-color: black;
}

#send_req_btn {
    height: 4rem;
    margin: auto 0;
}

input,
button {
    outline: none;
}
